@{
    ViewBag.Title = "Password";
    Layout = "~/Views/Shared/AALogin.cshtml";
}

@model MySliderProject.Models.Admin
<div class="main_btm1"><!-- start main_btm -->
<div class="container">
	<div class="contact">
       
		<div class="contact_main">
			   
				<div class="col-md-8">
				  <div class="contact-form">
						@*<form method="post" action="../Home/Index">*@
                             @using (Html.BeginForm("SaveUpdates","Admin",FormMethod.Post)){
                                @Html.ValidationSummary(true)

                               
                                    <fieldset>
                                        <legend>Update Teacher</legend>

                                        <div class="editor-label">
                                        <h4>    @Html.Label("Teacher Id") </h4>
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(model => model.Name)
                                            @Html.ValidationMessageFor(model => model.Name)
                                        </div>

                                        <div class="editor-label">
                                           <h4> @Html.LabelFor(model => model.Password) </h4>
                                        </div>
                                        <div class="editor-field">
                                            @Html.EditorFor(model => model.Password)
                                            @Html.ValidationMessageFor(model => model.Password)
                                        </div>

                                        <div class="editor-label">
                                            <h4>@Html.LabelFor(model => model.CPassword)</h4>
                                        </div>
                                        <div class="editor-field">
                                            @Html.EditorFor(model => model.CPassword)
                                            @Html.ValidationMessageFor(model => model.CPassword)
                                        </div>

                                       

                                        <div class="editor-label">
                                       <h4>  @Html.LabelFor(model => model.phone) </h4>
                                        </div>
                                        <div class="editor-field">
                                            @Html.EditorFor(model => model.phone)
                                            @Html.ValidationMessageFor(model => model.phone)
                                        </div>

                                       
                                        <p>
                                            <input type="submit" value="Save" />
                                        </p>
                                    </fieldset>
                             }
                   
				    </div>
  			</div>		
  			<div class="clearfix"></div>		
		</div>
	</div>
</div>
</div>



    @Scripts.Render("~/bundles/jqueryval")


