@{
    ViewBag.Title = "ShowUpdate";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@model MySliderProject.Models.Student
<!DOCTYPE HTML>
<html>
<head>
    @section title
    {
        <title>Easy Course Registration System | UpdateStudent</title>
    }
     @section myscript
    {
        @Styles.Render("~/Content/bootstrap.css")
        @Styles.Render("~/Content/bootstrap.min.css")
         
        @Scripts.Render("~/Scripts/bootstrap.js")
        @Scripts.Render("~/Scripts/bootstrap.min.js")

        @*<link href="~/Content/bootsrap.css" rel="stylesheet" />
        <script src="~/Scripts/bootsrap.js" type="text/javascript"></script>*@

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

        <link href="../Content/blue.css" rel="stylesheet" type="text/css" media="all" />
        <!----font-Awesome----->
   	        <link rel="stylesheet" href="../fonts/css/font-awesome.min.css">
        <!----font-Awesome----->
        <script type="text/javascript" src="../Scripts/jquery.min.js"></script>
        <script src="../Scripts/menu.js" type="text/javascript"></script>       
    }

       
</head>
<body>

@section menubuttons{
                    <div class="header_bg">
                    <div class="container">
	                    <div class="header">
		                    <div class="logo">
			                    <a href="~/Admin/Index"><img src="~/images/pucit_logo.png" alt=""/></a>
		                    </div>
		                    <div class="h_menu">
		                    <a id="touch-menu" class="mobile-menu" href="#">Menu</a>
		                    <nav>
		                    <ul class="menu list-unstyled">
			                    <li ><a href="~/Admin/MainPage">HOME</a></li>
			                    
			                    <li><a href="service.html">services</a></li>
			                    <li><a href="#">Reports</a>
			                    <ul class="sub-menu list-unstyled">
				                    <li><a href="#">Course</a>
                                        <ul class="list-unstyled">
						                    <li><a href="~/Home/ViewReport">Students Enrolled</a></li>
                                            <li class="activate"><a href="~/Home/ViewCourses">All Courses</a></li>
						                    
						                    
					                    </ul>
                                    </li>
				                    <li><a href="#">Student</a>

                                        <ul class="list-unstyled">
						                    
						                    <li><a href="~/Home/ViewReport">Status</a></li>
                                            <li><a href="~/Home/ViewReport">Enrolled Courses</a></li>
						                    
					                    </ul>

				                    </li>
				                    <li><a href="#">Teacher</a>
					                    <ul class="list-unstyled">
						                    <li><a href="~/Home/ViewReport">Teaching Courses</a></li>
						                    
					                    </ul>
				                    </li>
			                    </ul>
			                    </li>
			                    
                                
                                <li class="activate"><a href="~/Admin/Logout">LOGOUT</a></li>

		                    </ul>
		                    </nav>
		                    </div>
		                   
	                    </div>
                    </div>
                    </div>
        }

<div class="main_btm1"><!-- start main_btm -->
<div class="container">
	<div class="contact">
       
		<div class="contact_main">
			   
				<div class="col-md-8">
				  <div class="contact-form">
				  	<h2>Update</h2>
					
                             @using (Html.BeginForm("Update","Admin",FormMethod.Post)){
                                @Html.ValidationSummary(true)

                                                               
                                  <div class="Editor-label">
                                  <h4>   @Html.LabelFor(Student=>Student.RegId)</h4>
                                     

                                 </div>
                                 <div class="Editor-Field">
                                    @Html.EditorFor(Student=>Student.RegId)
                                    
                                    @Html.ValidationMessageFor(u=>u.RegId)
                                 </div>
                                   <div class="Editor-label">
                                  <h4>   @Html.LabelFor(Student=>Student.RollNo)</h4>
                                     

                                 </div>
                                 <div class="Editor-Field">
                                    @Html.EditorFor(Student=>Student.RollNo)
                                    
                                    @Html.ValidationMessageFor(u=>u.RollNo)
                                 </div>
                                 <div class="Editor-label">
                                  <h4>   @Html.LabelFor(Student=>Student.Name)</h4>
                                     

                                 </div>
                                 <div class="Editor-Field">
                                    @Html.EditorFor(Student=>Student.Name)
                                    
                                    @Html.ValidationMessageFor(u=>u.Name)
                                 </div>
                                 
                                 
                                   <div class="Editor-label">
                                  <h4>   @Html.LabelFor(Student=>Student.Batch)</h4>
                                     

                                 </div>
                                 <div class="Editor-Field">
                                    @Html.EditorFor(Student=>Student.Batch)
                                    
                                    @Html.ValidationMessageFor(u=>u.Batch)
                                 </div>
                                 
                                   <div class="Editor-label">
                                  <h4>   @Html.LabelFor(Student=>Student.UName)</h4>
                                     

                                 </div>
                                 <div class="Editor-Field">
                                    @Html.EditorFor(Student=>Student.UName)
                                    
                                    @Html.ValidationMessageFor(u=>u.UName)
                                 </div>
                                 
                                 <div class="Editor-label">
                                  <h4>   @Html.LabelFor(Student=>Student.Password)</h4>
                                   
                                 </div>
                                 <div class="Editor-Field">
                                    @Html.EditorFor(Student=>Student.Password)
                                    
                                    @Html.ValidationMessageFor(u=>u.Password)
                                 </div>
                                 <span><input type="submit" value="Submit"></span>
                             }
                  
				    </div>
  			</div>		
  			<div class="clearfix"></div>		
		</div>
	</div>
</div>
</div>

</body>
</html>

